.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 45%;
}
.center2 {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 60%;
}
.align{
    text-align: center;
}

body{
    background-color: rgb(186, 203, 217);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
h1{
    color: rgb(0, 0, 0);
    font-size: 40px;
    padding-bottom: 30px;
    text-shadow: 0.5px 0.5px 10px rgb(68,113,150);
}
h2{
    padding-top: 30px;
    font-size: 30px;
    text-shadow: 0.5px 0.5px 10px rgb(68,113,150);
}
.side{
    max-width: 50%;
    height: auto;
}
h3{
    padding-left: 725px;
    font-size: 30px;
    text-shadow: 0.5px 0.5px 10px rgb(68,113,150);
}
#pad{
    padding-left: 725px;
}
p{
    text-shadow: 0.5px 0.5px 1px rgb(68,113,150);
}
li{
    text-shadow: 0.5px 0.5px 1px rgb(68,113,150);
}
#rigthImg{
    max-width: 50%;
    height: auto;
    padding-left: 670px;
}
#story{
    padding-right: 500px;
}
.section1 {
    background-color: lightslategray;
}
h4{
    text-align: center;
    padding-top: 30px;
    padding-bottom: 1px;
    font-size: 30px;
    text-shadow: 0.5px 0.5px 10px rgb(68,113,150);
}


